/* Estilos para las tarjetas */
.property-card {
  background-color: white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: start;
  max-width: 350px;
  height: 470px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.property-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.property-card img {
  width: 100%;
  border-radius: 8px;
  height: 180px;
  object-fit: cover;
}

.property-card h3 {
  font-size: 1.25rem;
  margin: 0.5rem 0;
  color: #333;
  text-align: center;
}

.property-card p {
  font-size: 0.95rem;
  color: #666;
  margin: 0.5rem 0;
  line-height: 1.4;
}

.property-card button {
  text-align: center;
  align-self: center;
  background-color: #b9aaab;
  color: white;
  padding: 0.7rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 1rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.property-card button:hover {
  transform: scale(1.05);
}

/* Estilos responsivos para las cards */
@media (max-width: 768px) {
  .property-cards-container {
    flex-direction: column;
    align-items: center;
  }

  .property-card {
    flex-basis: 100%; /* Una tarjeta por fila */
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .property-cards-container {
    flex-direction: row;
    justify-content: space-around;
  }

  .property-card {
    flex-basis: 45%; /* Dos tarjetas por fila */
  }
}

@media (min-width: 1025px) {
  .property-cards-container {
    flex-direction: row;
    justify-content: space-around;
  }

  .property-card {
    flex-basis: 30%; /* Tres tarjetas por fila */
  }
}

/* Contenedor de las cards */
.property-cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  padding: 2rem;
}
